body {
    margin:2em;
    font-family: serif;
    font-size: 1.2em;
    line-height: 1.4em;
}

a {
    font-weight: 700;
    text-decoration: none;    
}
#container {
    width:600px !important;
}

#container-right {
    float:right;
    width:100%;
    border: solid thin;
}

#map {
    border: solid thin;
    width:600px !important;
    height:600px !important;
}

#image {
    float:right;
    margin-top:.5em;
    border-radius: 0;
    border: solid thin;
    font-size:1.5em;
}

pre {
    font-size:small !important;
    line-height: 1.1em !important;
    color: darkslategrey;
}