{
    "level": {
    	"compliance": "2"
    },
    "graphics": {
	"source": { "name": "VIPS" }
    },
    "features": {
	"enable": {
	    "size": [ "max" ],
	    "format": [ "webp", "tif" ]
	},
	"disable": {
	    "size": [ "sizeByDistortedWh" ] ,
	    "rotation": [ "rotationArbitrary" ],
	    "quality": [ "bitonal" ]
	},
	"append": {}
    },
    "images": {
	"source": { "name": "Disk", "path": "example/images" },
	"cache": { "name": "Memory", "ttl": 300, "limit": 100 }
    },
    "derivatives": {
	"cache": { "name": "Disk", "path": "example/cache" }
    }
}
