{
    "level": {
    	"compliance": "2"
    },
    "profile": {
    	"services": {
		    "enable": [ "colours" ]
	},    	       
    },
    "colours": {
    	"source": { "name": "vibrant" },
	"palettes": [
		    { "name": "css4" }
        ]
    },
    "graphics": {
	"source": { "name": "VIPS" }
    },
    "features": {
	"enable": {
	    "size": [ "max" ],
	    "format": [ "webp", "tif", "gif" ]
	},
	"disable": {
	    "rotation": [ "rotationArbitrary" ],
	    "quality": [ "bitonal" ]
	},
	"append": {
	    "quality": {
		"dither": { "syntax": "dither", "required": false, "supported": true, "match": "^dither$" }
	    }
	}
    },
    "images": {
	"source": { "name": "Disk", "path": "example/images" },
	"cache": { "name": "Memory", "ttl": 300, "limit": 100 }
    },
    "derivatives": {
	"cache": { "name": "Disk", "path": "example/cache" }
    }
}
