{
    "graphics": {
	"source": { "name": "VIPS" }
    },
    "images": {
	"source": { "name": "Disk", "path": "/path/to/images" },
	"cache": { "name": "Memory", "ttl": 300, "limit": 100 }
    },
    "derivatives": {
	"cache": { "name": "Disk", "path": "/path/to/derivatives-cache" }
    }
}
