[Unit]
Description=Run the go-iiif iiif-server daemon 

[Service]
Type=simple
User=
ExecStart=/usr/bin/iiif-server -config ${config}

[Install]
WantedBy=multi-user.target
