{
    "level": {
    	"compliance": "2"
    },
    "profile": {
    	"services": {
		    "enable": [
		    	"colour_service",
			"blurhash_service",
		    	"imagehash_service"
		    ]
	}
    },
    "colour_service": {
    	"extruder": { "uri": "vibrant://", "count": 5 },
    	"grid": { "uri": "euclidian://" },
	"palette": [
		    { "uri": "crayola://" },
		    { "uri": "css4://" }
        ]
    },
    "blurhash_service": { "x": 8, "y": 8, "size": 200 },
    "imagehash_service": {},
    "graphics": {
	"driver": "native://"     
    },
    "features": {
	"enable": {
	    "size": [ "max" ],
	    "format": [ "webp", "tif", "gif" ],
	    "rotation": [ "noAutoRotate" ]
	},
	"disable": {
	    "rotation": [ "rotationArbitrary" ],
	    "quality": [ "bitonal" ]
	},
	"append": {
	    "quality": {
		"dither": { "syntax": "dither", "required": false, "supported": true, "match": "^dither$" },
		"crisp": { "syntax": "crisp", "required": false, "supported": true, "match": "^crisp(?:\\:(\\d+\\.\\d+),(\\d+\\.\\d+),(\\d+\\.\\d+))?$" }		
	    }
	}
    },
    "images": {
	"source": { "name": "Disk", "path": "example/images?metadata=skip" },
	"cache": { "name": "Memory", "ttl": 300, "limit": 100 }
    },
    "derivatives": {
	"cache": { "name": "Disk", "path": "example/cache?metadata=skip" }
    }
}
